.background {
    position: relative;
    width: 100%; /* Adjust width as needed */
    height: 1400px; /* Adjust height as needed */
    background: none;
    background-size: cover;
    
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://images.unsplash.com/photo-1539629791339-033c8e874d85?q=80&w=1934&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat;
    opacity: 0.5; /* Adjust opacity here */
    z-index: -1; /* Ensures the background is behind any content */
}
.profile
{
    height: 400px;
    width: 300px;
    margin-top: 40px;
    margin-right: 150px;
    align-items: right;
    border: 1px solid black;
    float: right;
    border-radius: 10px;
}
.desc
{
    height: 400px;
    width:900px;
    border: 2px solid black;
    float: left;
    margin-top: 40px;
    margin-left: 150px;
    background: #848482;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
}
.header1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 60px;
}
.header2
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 40px;
}
.content
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-style: italic;
    font-size: 18px;
}
.linked
{
    position: absolute; 
    right: 190px; 
    top: 400px;
    transform: translate(-50%, -50%); 
    background-color: rgba(125, 125, 125, 0.782); 
    color: white; 
    padding: 10px 20px; 
    text-decoration: none;
}
.btn {
    /* background-color: #04AA6D; Green */
    color: white;
    /* padding: 16px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    /* transition-duration: 0.4s; */
    cursor: pointer;
    height: 40px;
    width: 100px;
    border: 2px solid #555555;
    border-radius: 8px;
}

.btn2 {
    /* background-color: #04AA6D; Green */
    color: white;
    /* padding: 16px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 200px;
    margin-left: 25px;
    /* transition-duration: 0.4s; */
    cursor: pointer;
    height: 40px;
    width: 200px;
    border: 2px solid #555555;
    border-radius: 8px;
}

.btn1 {
    background-color: rgba(255, 255, 255, 0.348);
    color: black;
    /* border: 3px solid #555555; */
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn1:hover {
    background-color: #555555;
    color: white;
}


.mobno
{
    font-family: Georgia, 'Times New Roman', Times, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-style: italic;
    font-size: 14px;
    padding-top: 0;
    margin-left: 10px;
}
.container
{
    border: 1px solid black;
    background-color:#848482;
    height: 500px;
    width: 100%;
    margin-top: 500px;
    border-radius: 8px;
}
.container1
{
    /* border: 1px solid black; */
    background-color:beige;
    height: 350px;
    width: 250px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    border-radius: 9px;
}
.imgcon
{
    height: 350px;
    width: 250px;
    /* border: 1px solid black; */
    background-image: url(images/1.jpg);
    background-size: contain;
    border-radius: 5px;
    /* margin-left: 22px;
    margin-top: 14px; */
}
.imgcon2
{
    height: 350px;
    width: 250px;
    /* border: 1px solid black; */
    background-image: url(images/2.jpg);
    background-size: cover;
    border-radius: 5px;
    /* margin-left: 22px;
    margin-top: 14px; */
}
.imgcon3
{
    height: 350px;
    width: 250px;
    /* border: 1px solid black; */
    background-image: url(images/3.jpg);
    background-size: cover;
    border-radius: 5px;
    /* margin-left: 22px;
    margin-top: 14px; */
}
.imgcon4
{
    height: 350px;
    width: 250px;
    /* border: 1px solid black; */
    background-image: url(images/4.jpg);
    background-size: cover;
    border-radius: 5px;
    /* margin-left: 22px;
    margin-top: 14px; */
}
.blocktext
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}

.footpart
{
    height: 300px;
    width: 80%;
    border: 1 px solid red;
    background-color: #848482;
    margin-top: 20px;
    margin-left: 150px;
    border-radius: 16px;
    padding-left: 28px;
    padding-top: 28px;
}
.igimg
{
    background-image: url(images/ig.jpg);
    height: 47px;
    width: 47px;
    background-size: cover;
    margin-top: 78px;
    
    /* border: 1px solid white; */
    float: left;
    margin-right: 15px;
}
.gimg
{
    background-image: url(images/g.jpg);
    height: 40px;
    width: 40px;
    background-size:contain;
    margin-top: 80px;
    float: left;
    /* border: 1px solid white; */
    margin-right: 18px;
}
.fbimg
{
    background-image: url(images/fb.jpg);
    height: 40px;
    width: 40px;
    background-size: cover;
    margin-top: 80px;
    float: left;
    /* border: 1px solid white; */
    margin-right: 10px;
    border-radius: 25px;
}